<h1>Create a New Figure</h1>

<form action="/figures" method="POST">
  <label for="figure_name">Figure Name:</label>
  <input type="text" name="figure[name]" id="figure_name">
  <br></br>
  <label>Choose existing title(s):</label>
  <br></br>
  <% @titles.each do |title| %>
    <input type="checkbox" name="figure[title_ids][]" value="<%= title.id %>" id="title_<%= title.id %>"><%= title.name %>
  <% end %>
  <br></br>
  <label>and/or, create a new title:</label>
  <br></br>
  <label for="new_title">Title Name:</label>
  <input type="text" name="title[name]" id="new_title">
  <br></br>
  <label>Choose existing landmark(s):</label>
  <br></br>
  <% @landmarks.each do |landmark| %>
    <input type="checkbox" name="figure[landmark_ids][]" value="<%= landmark.id %>" id="landmark_<%= landmark.id %>"><%= landmark.name %>
  <% end %>
  <br></br>
  <label>and/or, create a new landmark:</label>
  <br></br>
  <label for="new_landmark">Landmark Name:</label>
  <input type="text" name="landmark[name]" id="new_landmark">
  <br></br>
  <label for="landmark_year_completed">Year Completed:</label>
  <input type="text" name="landmark[year_completed]" id="landmark_year_completed">
  <br></br>
  <input type="submit" value="Create New Figure">
</form>
